@page "{id:int}"
@model BL.Presentation.Pages.ArticleDetai.IndexModel
@{
}

<link href="~/style.css" rel="stylesheet">

<div class="col-md-9 technology-right">
    <div class="agileinfo">

        <h2 class="w3">@Model.Article.Name</h2>
        <div class="single">
            <img src="@Model.Article.Image" class="img-responsive" alt="@Model.Article.Name" style="max-width:675px">
            <div class="b-bottom">
                <h5 class="top">@Model.Article.Name</h5>
                <p class="sub">@Model.Article.ShortDescribtion</p>
                <p class="sub">@Model.Article.Content</p>


            </div>

        </div>


        <div class="response">
            <h4>
                (@Model.Article.Commentcount)Commnts
            </h4>

           <div >
          
                
               @foreach (var item in Model.Article.Comments)
               {
                <h1>@item.Name</h1>
                <p>@item.Message</p>
                <h4>@item.CreationDate</h4>
                              <div class="clearfix"> </div>     

               }
             
                <div class="media-body response-text-left">
                    
            </div>
                    
               
           
        </div>
        <div class="coment-form">
            <h4>AddComment</h4>
            <form method="post">
                <input type="text" name="Name" placeholder="Name" id="Name">
                <input type="email" name="Email" placeholder="Email" id="Email">
                <textarea type="text" name="Message" placeholder="Message" id="Message"></textarea>
                <input type="hidden" name="ArticleId" value="@Model.Article.Id" />

                <input type="submit" value="send">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>